
.containerSch{
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom right,  rgba(29, 20, 150, 0.815),rgb(41, 224, 81));
    color: whitesmoke;
    font-size: 18px;
    font-family:  "Times New Roman", "Georgia", serif;
    border-radius: 10px;
    padding-left: 40px;
}

.cardSch{
    background-color: rgba(255, 255, 255, 0.829);
    color: black;
    font-family: "Times New Roman", "Georgia", serif;
    border-radius: 10px;
    margin-bottom: 15px;
    
}

.titlePage{
    font-size: 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-family: "Times New Roman", "Georgia", serif;
}

.buttonPage{
    margin-bottom: 20px;
    font-size: 17px;
    background-color: #20b40c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.buttonForm{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17px;
    color: white;
    padding: 10px 21px;
    text-align: center;
}

.inputForm{
    margin-left: 2%;
}

label{
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}


body{
    background-color: rgb(192, 245, 204);
}

.header {
    padding: 10px 12px;
    background-color:rgb(53, 148, 74);
    color: #f1f1f1;
    border-radius: 10px;
    font-family: "Times New Roman", "Georgia", serif;
    .header__image{
        width: 6%;
        margin-left: 45%;
        margin-right: auto;
    }
    
}


.cadastroPage__image{
    margin-top: 4%;
    margin-left: 65%;
    margin-right: auto;
    width: 30%;
}
