
.containerSch{
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom right,  rgba(45, 79, 173, 0.815),rgb(41, 224, 81));
    color: whitesmoke;
    font-size: 18px;
    font-family:  "Times New Roman", "Georgia", serif;
    border-radius: 10px;
    padding-left: 40px;
}

.cardSch{
    background-color: rgba(255, 255, 255, 0.849);
    color: black;
    font-family: "Times New Roman", "Georgia", serif;
    border-radius: 10px;
    
}

.titlePage{
    font-size: 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-family: "Times New Roman", "Georgia", serif;
    //font-weight: bold;
    
}