
.containerSch{
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom right,  rgba(45, 79, 173, 0.815),rgb(137, 95, 236));
    color: whitesmoke;
    font-size: 18px;
    font-family:  "Times New Roman", "Georgia", serif;
    border-radius: 10px;
}

.cardSch{
    background-color: rgba(53, 99, 185, 0.911);
    color: white;
    font-family: "Times New Roman", "Georgia", serif;
    border-radius: 10px;
    
}

.titlePage{
    font-size: 32px;
    color: rgb(255, 255, 255);
    // text-shadow: 2px 2px rgb(158, 158, 158);
    font-family: "Copperplate", "Papyrus", fantasy;
    font-weight: bold;
}